<!-- 사용자 이메일을 test.txt에 저장하는 폼 -->
<style type="text/css">
    #email_signup { background: #fff; clear: left; }
</style>

<div id="email_signup">
    <form action="subscribe.php" method="post" id="email-subscribe-form" name="email-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="email_signup_scroll">
            <h2>사실 아직 개발중입니다. 혼자있고 싶어요...</h2>

            <div class="field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="email-EMAIL" placeholder="E-mail Address">
            </div>
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="email-subscribe" class="button">
            </div>
        </div>
    </form>
</div>
