<div class="sidebar sticky-top">    

    <div class="sidebar-section">
        <h5><span>목록</span></h5>
        <ul class="tags">
            {% assign all_categories = site.categories | sort %}
            {% for category in all_categories %}
            <li>
                <a href="{{ site.baseurl }}/categories#{{ category[0] | slugify }}">{{ category[0] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="sidebar sticky-top">
        <div class="sidebar-section">
            <h5><span>주간 알림</span></h5>
            <form action="subscribe.php" method="post">
                <input type="email" name="email" placeholder="E-mail Address" required>
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </div>

    <!-- <div class="sidebar-section">
        <h5><span>My Future Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div> -->

</div>
