<div class="sidebar sticky-top">    

    <div class="sidebar-section">
        <h5><span>목록</span></h5>
            <!-- Post Categories -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a href="{{ site.baseurl }}/categories#{{ category | slugify }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Categories -->
    </div>

    <div class="sidebar-section">
        <h5><span>주간 알림</span></h5>
        {% include newsletter.html %}
    </div>

    <!-- <div class="sidebar-section">
        <h5><span>My Future Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div> -->

</div>